<div class="container">
  <div class='bgColor'>
    <app-header></app-header>
  </div>
  <div class='alignContent'>
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
  <!-- <div>
    <app-show-donar></app-show-donar>
  </div>
  <div>
    <app-find-donar></app-find-donar>
  </div>
  <div>
    <app-search-hospital></app-search-hospital>
  </div>
  <div>
    <app-campdetails></app-campdetails>
  </div>
  <div>
    <app-login></app-login>
  </div>
  <div>
    <app-logout></app-logout>
  </div>
  <div>
    <app-manage-request>

    </app-manage-request>
  </div> -->

</div>
